<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Catalog</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav" style="">
            <div class="navbar-nav">
                <a class="nav-link" href="/computer">Computers</a>
                <a class="nav-link" href="/motherboard">Motherboards</a>
                <a class="nav-link" href="/powersupply">Power Supplies</a>
                <a class="nav-link" href="/videocard">Video Cards</a>
                <a class="nav-link" href="/swagger-ui/index.html" target="_blank">OpenAPI</a>
            </div>
        </div>
    </div>
</nav>